<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="background">
        <div class="image"></div>
        <div class="chatbox">
          <div class="chatbox__support">
            <div class="chatbox__header">
              <div class="chatbox__image--header">
                <!-- change image -->
                <img img width="48" height="48"
                  src="https://img.icons8.com/color/48/000000/message-bot.png" alt="message-bot"
                />
                  
              </div>
              <div class="chatbox__content--header">
                <h4 class="chatbox__heading--header">Apa support</h4>
                <p class="chatbox__description--header">
                  Hi. My name is Apa. How can I help you?
                </p>
              </div>
            </div>
            <div class="chatbox__messages">
              <div></div>
            </div>
            <div class="chatbox__footer">
              <input type="text" placeholder="Write a message..." />
              <button class="chatbox__send--footer send__button">Send</button>
            </div>
          </div>
          <div class="chatbox__button">
            <button><img src="../static/images/chatbot-icon.svg" /></button>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>
